/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import url("https://fonts.googleapis.com/css?family=Roboto+Serif:400");

:root {
  --background-color: #eceff4;
  --font-color: #252525;
  --subtle-text-color: #60728a;
  --link-color: #5e81ac;
  --visited-link-color: #a97ea1;
  --code-background-color: #d8dee9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #242933;
    --font-color: #bbc3d4;
    --subtle-text-color: #60728a;
    --link-color: #88c0d0;
    --visited-link-color: #b48ead;
    --code-background-color: #3b4252;
  }
}

body {
  font-family: "Roboto Serif", Verdana, sans-serif;
  max-width: 70ch;
  margin: auto;
  line-height: 1.75;
  font-size: 16px;
  font-weight: 400;
  padding: 0 0.5rem;
  background-color: var(--background-color);
  color: var(--font-color);
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  line-height: 1.3;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

code {
  padding: 0.125rem 0.25rem;
  background-color: var(--code-background-color);
}

pre {
  padding: 1rem;
}

pre > code {
  all: unset;
}

blockquote {
  border: 1px solid var(--font-color);
  border-radius: 0.25rem;
  background-color: var(--code-background-color);
  padding: 0 1rem;
  margin: 2rem 0.5rem;
  font-style: italic;
}

hr {
  margin: 1rem 0;
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--visited-link-color);
}
