---
import PageLayout from '../layouts/Page.astro';
---

<PageLayout>
  <h1>About Me</h1>

  <p>
    My name is Lars Ellingsen. I live in Southern California, and I love
    creating software that helps others achieve their goals, become more
    efficient, and just make life easier. Beyond software development, I enjoy a
    number of other things &mdash; sports, music (almost all genres), TV and
    movies, investments and financial markets, reading sci-fi/fantasy, and more.
  </p>

  <p>
    I am currently employed as a Full Stack Software Engineer at <a
      href="https://datavant.com/about/careers/">Datavant</a
    >. There are a lot of different topics and technologies that I cover in my
    day-to-day job, and I love the focus on accomplishing a goal rather than
    specific technologies or frameworks. That said, I work a lot with
    TypeScript, React, Python, Kubernetes, Helm, and Terraform.
  </p>

  <p>My career path has been:</p>

  <ul>
    <li>2012-2016: Junior/Intermediate Full Stack Developer (In-N-Out)</li>
    <li>
      2016-2022: Engineering Manager / Senior Engineering Manager (In-N-Out,
      Updater)
    </li>
    <li>2022-2023: Senior Frontend Engineer (Dashlane)</li>
    <li>2023-Present: Senior/Staff Full Stack Engineer (Datavant)</li>
  </ul>
</PageLayout>
