---
import PageLayout from "../layouts/Page.astro";
---

<PageLayout>
  <h1>About Me 🤔</h1>

  <p>
    My name is Lars Ellingsen. I live in Southern California, and I love
    creating software that helps others achieve their goals, become
    more efficient, and just make life easier. Beyond software development, I
    enjoy a number of other things &mdash; playing and watching sports
    (especially soccer), music (almost all genres), TV and movies, investments
    and financial markets, reading sci-fi/fantasy, and more.
  </p>

  <p>
    I am currently employed as a Senior Software Engineer at{" "}
    <a href="https://www.dashlane.com/"> Dashlane</a>
    . There are a lot of different topics and technologies that I cover in my day-to-day
    job, and I love the focus on accomplishing a goal rather than specific technologies
    or frameworks. That said, I am focused on the frontend using fairly standard
    web technologies - namely, React and TypeScript.
  </p>

  <p>
    Prior to this role, I was an Engineering Manager for 6 years, and a Full
    Stack Web Developer for 4 years before that. My favorite aspects of being in
    a leadership position were helping my team realize their goals, strategizing
    and planning for the future, and creating a team culture where everyone
    feels secure in asking questions and giving each other feedback.
  </p>
</PageLayout>
